*.csv filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
assets/preprocessed-training.csv filter=lfs diff=lfs merge=lfs -text
assets/process filter=lfs diff=lfs merge=lfs -text
assets/processed filter=lfs diff=lfs merge=lfs -text
assets/vicuni filter=lfs diff=lfs merge=lfs -text
assets/features filter=lfs diff=lfs merge=lfs -text
assets/logreg_model.pkl filter=lfs diff=lfs merge=lfs -text
assets/preprocessed-testing.csv filter=lfs diff=lfs merge=lfs -text
assets/raw filter=lfs diff=lfs merge=lfs -text
assets/hedge-words.txt filter=lfs diff=lfs merge=lfs -text
assets/plots filter=lfs diff=lfs merge=lfs -text
assets/** filter=lfs diff=lfs merge=lfs -text
